div{
    border: 1px solid black;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.satu{
    background-color: green;
    margin-bottom: 20px;
}
.dua{
    background-color: yellow;
    position: absolute;
    width: 20%;
    margin-bottom: 20px;
}
.tiga{
    background-color: coral;
    width: 75%;
    margin-left: auto;
    margin-bottom: 20px;
}
.empat{
    background-color: yellow;
    position: absolute;
    width: 20%;
}
.lima{
    background-color: aqua;
    width: 75%;
    margin-left: auto;
}