body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

header{
  background-color: rgb(144, 241, 157);
  padding: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

main{
  display: flex;
  flex: 1;
  margin: 20px;
}

article{
  background-color: rgb(152, 184, 243);
  margin-left: 20px;
  flex: 2;
  display: flex;
  flex-direction: row;
  order: 1;
}

article p{
  text-align: center;
  position: relative;
  left: 47%;
  top: 200px;
}

img{
  margin: 10px;
  margin-left: 1px;
  justify-content: center;
  border: 1px solid #000;
  position: relative;
  top: 200px;
  width:200px;
  height: 150px;
}

aside{
  background-color: rgb(250, 162, 174);
  flex: 1;
}


footer{
  background-color:rgb(145, 247, 104);
  padding: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}