* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
heder,
footer {
  background: khaki;
  height: 20vh;
}

heder,
footer,
article,
nav,
aside {
  padding: 1rem;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  order: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
}
#main > nav {
  background-color: aqua;
  order: 2;
}
#main > aside {
  background-color: pink;
  order: 2;
}
